# Ingnore everything except what I need to copy
/*

# Copying files needed by a minimal install
!requirements.txt
!/poetry.lock
!/pyproject.toml
!/setup.cfg/
!/src/
!/test/
!/third_party/

!/docker/

# Parameters are useful too
!/inputs/
